<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="SystemUser"  type="org.li.module.system.bean.SystemUser"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/mine/SystemUserMapper.xml" />
    </mappers>
</configuration>