<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- author:   liyanjun,  date:    2017-3-20 10:52:44,    业主信息表-->

<mapper namespace="org.li.module.lingling.dao.impl.SvOwnerDaoImpl">

    <select id="findLingLingUserInfo" resultType="org.li.module.lingling.bean.SvOwner">
		SELECT
			o.owner_id as ownerId,
			o.parent_id as parentId,
			o.regcode,
			o.owner_name as ownerName,
			o.owner_telephone as ownerTelephone,
			o.weixin_id,
			o.reg_time,
			o.reg_effec_day,
			o.first_login_time,
			o.use_effec_day,
			o. STATUS,
			o.residential_id as residentialId,
			o.call_id,
			o.terminal_type,
			o.note,
			o.lingling_id as linglingId,
			o.visitor_authority,
			o.owner_gender as ownerGender,
			o.owner_race,
			o.owner_birthday as ownerBirthday,
			o.owner_census_addr,
			o.owner_iden_number,
			o.iden_img_id,
			o.phone_IMEI,
			o.longitude,
			o.latitude,
			o.owner_police,
			r.residential_id,
			r.region_id,
			r.residential_code,
			r.residential_name as residentialName,
			r.manager_name,
			r.telephone,
			r.address,
			r.time,
			r.user_id,
			r.residential_type,
			r.start_time,
			r.end_time,
			r. STATUS,
			r.note
		FROM
			sv_owner o
		LEFT JOIN sv_residential r ON o.residential_id = r.residential_id
		WHERE
			o.owner_telephone = #{phone}
  </select>
  <select id="findLingLingManagerInfo" resultType="org.li.module.lingling.bean.SysUser">
		SELECT
			u.user_id as userId,
			u.account,
			u.name,
			u.sex,
			u.mobile_phone as mobilePhone,
			u.email,
			u.address,
			u.password,
			u.dept_id as deptId,
			u.type_id as typeId,
			u.status_id as statusId,
			u.note,
			r.residential_id as residentialId,
			r.region_id as regionId,
			r.residential_code as residentialCode,
			r.residential_name as residentialName,
			r.manager_name as managerName,
			r.telephone,
			r.address,
			r.time,
			r.user_id,
			r.residential_type,
			r.start_time,
			r.end_time,
			r.status,
			r.note
		FROM
			sys_user u
		LEFT JOIN sys_user_residential ur ON u.user_id = ur.user_id
		LEFT JOIN sv_residential r ON r.residential_id = ur.residential_id
		WHERE
			u.mobile_phone = #{phone}
	</select>

  <select id="findUserDevices" resultType="org.li.module.lingling.bean.SvLingLingDevice">
		SELECT
			d.device_id as deviceId,
			d.name as name,
			d.family_id as familyId,
			d.device_type as deviceType,
			d.device_code,
			d.mac,
			d.default_mac,
			d.wifi_ssid,
			d.wifi_password,
			d.bluetooch_name,
			d.bluetooch_password,
			d.lock_type,
			d.lock_interval,
			d.last_synchro_time,
			d. STATUS,
			d.region_id,
			d.custom_type,
			d.residential_type,
			d.note,
			d.v3_device_id,
			d.is_online,
			d.x_coordinate,
			d.y_coordinate,
			d.mark,
			d.lock_status,
			d.make_time
		FROM
			sv_owner o
		LEFT JOIN sv_owner_device od ON o.owner_id = od.owner_id
		LEFT JOIN sv_device d ON d.device_id = od.device_id
		WHERE
			o.owner_id = #{ownerId} <if test="first != null  and count != null ">LIMIT #{first}, #{count}</if>
	</select>

	<!--通过residential_id查询社区下的住户列表-->
	<select id="findResidentialUser" resultType="org.li.module.lingling.bean.SvOwner">
		SELECT
			o.owner_id,
			o.parent_id,
			o.regcode,
			o.owner_name,
			o.owner_telephone,
			o.weixin_id,
			o.reg_time o.reg_effec_day,
			o.first_login_time,
			o.use_effec_day,
			o. STATUS,
			o.residential_id,
			o.call_id,
			o.terminal_type,
			o.note,
			o.lingling_id,
			o.visitor_authority,
			o.owner_gender,
			o.owner_race,
			o.owner_birthday,
			o.owner_census_addr,
			o.owner_iden_number,
			o.iden_img_id,
			o.phone_IMEI,
			o.longitude,
			o.latitude,
			o.owner_police
		FROM
			sv_owner o
		WHERE
			o.residential_id = #{residentialId};
	</select>

	<!--通过user_id查询社区管理员管理下的住户列表-->
	<select id="findManagerUser" resultType="org.li.module.lingling.bean.SvOwner">
		SELECT
			o.owner_id as ownerId,
			o.regcode,
			o.owner_name as ownerName,
			o.owner_telephone as ownerTelephone,
			o.weixin_id,
			o.reg_time,
			o.reg_effec_day,
			o.first_login_time,
			o.use_effec_day,
			o. STATUS,
			o.residential_id,
			o.call_id,
			o.terminal_type,
			o.note,
			o.lingling_id,
			o.visitor_authority,
			o.owner_gender as ownerGender,
			o.owner_race as ownerRace,
			o.owner_birthday as ownerBirthday,
			o.owner_census_addr as ownerCensusAddr,
			o.owner_iden_number,
			o.iden_img_id,
			o.phone_IMEI,
			o.longitude,
			o.latitude,
			o.owner_police
		  FROM
			sv_owner o
		  WHERE
			EXISTS (
			SELECT
				*
			FROM
				sv_residential r
			LEFT JOIN sys_user_residential ur ON r.residential_id = ur.residential_id
			LEFT JOIN sys_user u ON u.user_id = ur.user_id
			WHERE
			u.user_id = #{ownerId}
			AND o.residential_id = r.residential_id
			)
	</select>

	<!--通过owner_id查询访客记录-->
	<select id="findVisitRecord" resultType="org.li.module.lingling.bean.SvVisitorQrcode">
		SELECT
			vq.code_id as codeId,
			vq.owner_id as ownerId,
			vq.code_data,
			vq.code_type as codeType,
			vq.visitor_name as visitorName,
			vq.visitor_telephone as visitorTelephone,
			vq.visitor_gender as visitorGender,
			vq.is_drive,
			vq.visitor_purpose as visitorPurpose,
			vq.make_reason as makeReason,
			vq.make_time as makeTime,
			vq.start_time as startTime,
			vq.end_time as endTime,
			vq.effec_number as effecNumber,
			vq. STATUS,
			vq.v3_code_id,
			vq.user_id
		FROM
			sv_visitor_qrcode vq
		WHERE
		vq.owner_id = #{ownerId} <if test="first != null and count != null ">LIMIT #{first}, #{count}</if>
	</select>

	<!--通过residential_id查询住房情况-->
	<select id="findResidentialInfo" resultType="org.li.module.lingling.bean.SvOwner">
		SELECT
			r.residential_id,
			r.region_id,
			r.residential_code,
			r.residential_name,
			r.manager_name,
			r.telephone,
			r.address,
			r.time,
			r.user_id,
			r.residential_type,
			r.start_time,
			r.end_time,
			r. STATUS,
			r.note,
			room.room_number,
			room. STATUS,
			room.note
		FROM
			sv_room room
		LEFT JOIN sv_residential r ON room.residential_id = r.residential_id
		WHERE
			r.residential_id = #{residentialId};
	</select>

	<insert id="insertOwner" parameterType="org.li.module.lingling.bean.SvOwner" useGeneratedKeys="true" keyProperty="ownerId">
		insert into sv_owner
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test=" parentId != null" >
				parent_id,
			</if>
			<if test=" regcode != null" >
				regcode,
			</if>
			<if test=" ownerName != null" >
				owner_name,
			</if>
			<if test=" ownerTelephone != null" >
				owner_telephone,
			</if>
			<if test=" weixinId != null" >
				weixin_id,
			</if>
			<if test=" regTime != null" >
				reg_time,
			</if>
			<if test=" regEffecDay != null" >
				reg_effec_day,
			</if>
			<if test=" firstLoginTime != null" >
				first_login_time,
			</if>
			<if test=" useEffecDay != null" >
				use_effec_day,
			</if>
			<if test=" status != null" >
				status,
			</if>
			<if test=" residentialId != null" >
				residential_id,
			</if>
			<if test=" callId != null" >
				call_id,
			</if>
			<if test=" terminalType != null" >
				terminal_type,
			</if>
			<if test=" note != null" >
				note,
			</if>
			<if test=" linglingId != null" >
				lingling_id,
			</if>
			<if test=" visitorAuthority != null" >
				visitor_authority,
			</if>
			<if test=" ownerGender != null" >
				owner_gender,
			</if>
			<if test=" ownerRace != null" >
				owner_race,
			</if>
			<if test=" ownerBirthday != null" >
				owner_birthday,
			</if>
			<if test=" ownerCensusAddr != null" >
				owner_census_addr,
			</if>
			<if test=" ownerIdenNumber != null" >
				owner_iden_number,
			</if>
			<if test=" idenImgId != null" >
				iden_img_id,
			</if>
			<if test=" phoneImei != null" >
				phone_IMEI,
			</if>
			<if test=" longitude != null" >
				longitude,
			</if>
			<if test=" latitude != null" >
				latitude,
			</if>
			<if test=" ownerPolice != null" >
				owner_police,
			</if>
			<if test=" ownerActiveFrom != null" >
				owner_active_from,
			</if>
			<if test=" ownerActiveTo != null" >
				owner_active_to,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test=" parentId != null" >
				#{parentId},
			</if>
			<if test=" regcode != null" >
				#{regcode},
			</if>
			<if test=" ownerName != null" >
				#{ownerName},
			</if>
			<if test=" ownerTelephone != null" >
				#{ownerTelephone},
			</if>
			<if test=" weixinId != null" >
				#{weixinId},
			</if>
			<if test=" regTime != null" >
				#{regTime},
			</if>
			<if test=" regEffecDay != null" >
				#{regEffecDay},
			</if>
			<if test=" firstLoginTime != null" >
				#{firstLoginTime},
			</if>
			<if test=" useEffecDay != null" >
				#{useEffecDay},
			</if>
			<if test=" status != null" >
				#{status},
			</if>
			<if test=" residentialId != null" >
				#{residentialId},
			</if>
			<if test=" callId != null" >
				#{callId},
			</if>
			<if test=" terminalType != null" >
				#{terminalType},
			</if>
			<if test=" note != null" >
				#{note},
			</if>
			<if test=" linglingId != null" >
				#{linglingId},
			</if>
			<if test=" visitorAuthority != null" >
				#{visitorAuthority},
			</if>
			<if test=" ownerGender != null" >
				#{ownerGender},
			</if>
			<if test=" ownerRace != null" >
				#{ownerRace},
			</if>
			<if test=" ownerBirthday != null" >
				#{ownerBirthday},
			</if>
			<if test=" ownerCensusAddr != null" >
				#{ownerCensusAddr},
			</if>
			<if test=" ownerIdenNumber != null" >
				#{ownerIdenNumber},
			</if>
			<if test=" idenImgId != null" >
				#{idenImgId},
			</if>
			<if test=" phoneImei != null" >
				#{phoneImei},
			</if>
			<if test=" longitude != null" >
				#{longitude},
			</if>
			<if test=" latitude != null" >
				#{latitude},
			</if>
			<if test=" ownerPolice != null" >
				#{ownerPolice},
			</if>
			<if test=" ownerActiveFrom != null" >
				#{ownerActiveFrom},
			</if>
			<if test=" ownerActiveTo != null" >
				#{ownerActiveTo},
			</if>
		</trim>
	</insert>

	<insert id="insertOwnerRoom" parameterType="org.li.module.lingling.bean.SvOwnerRoom" useGeneratedKeys="true" keyProperty="ownerId">
		insert into sv_owner
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test=" roomId != null" >
				room_id,
			</if>
			<if test=" ownerId != null" >
				owner_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test=" roomId != null" >
				#{roomId},
			</if>
			<if test=" ownerId != null" >
				#{ownerId},
			</if>
		</trim>
	</insert>


</mapper>