<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- author:   liyanjun,  date:    2017-3-20 10:52:44,    业主信息表-->

<mapper namespace="org.li.module.lingling.dao.impl.SvOwnerDaoImpl">

    <resultMap id="BaseResultMap" type="org.li.module.lingling.bean.SvOwner">
        <result property="ownerId" jdbcType="INTEGER" column="owner_id"/>
        <result property="parentId" jdbcType="INTEGER" column="parent_id"/>
        <result property="regcode" jdbcType="VARCHAR" column="regcode"/>
        <result property="ownerName" jdbcType="VARCHAR" column="owner_name"/>
        <result property="ownerTelephone" jdbcType="VARCHAR" column="owner_telephone"/>
        <result property="weixinId" jdbcType="VARCHAR" column="weixin_id"/>
        <result property="regTime" jdbcType="TIMESTAMP" column="reg_time"/>
        <result property="regEffecDay" jdbcType="INTEGER" column="reg_effec_day"/>
        <result property="firstLoginTime" jdbcType="TIMESTAMP" column="first_login_time"/>
        <result property="useEffecDay" jdbcType="INTEGER" column="use_effec_day"/>
        <result property="status" jdbcType="INTEGER" column="status"/>
        <result property="residentialId" jdbcType="INTEGER" column="residential_id"/>
        <result property="callId" jdbcType="VARCHAR" column="call_id"/>
        <result property="terminalType" jdbcType="INTEGER" column="terminal_type"/>
        <result property="note" jdbcType="VARCHAR" column="note"/>
        <result property="linglingId" jdbcType="VARCHAR" column="lingling_id"/>
        <result property="visitorAuthority" jdbcType="INTEGER" column="visitor_authority"/>
        <result property="ownerGender" jdbcType="INTEGER" column="owner_gender"/>
        <result property="ownerRace" jdbcType="VARCHAR" column="owner_race"/>
        <result property="ownerBirthday" jdbcType="TIMESTAMP" column="owner_birthday"/>
        <result property="ownerCensusAddr" jdbcType="VARCHAR" column="owner_census_addr"/>
        <result property="ownerIdenNumber" jdbcType="VARCHAR" column="owner_iden_number"/>
        <result property="idenImgId" jdbcType="INTEGER" column="iden_img_id"/>
        <result property="phoneImei" jdbcType="VARCHAR" column="phone_IMEI"/>
        <result property="longitude" jdbcType="DOUBLE" column="longitude"/>
        <result property="latitude" jdbcType="DOUBLE" column="latitude"/>
        <result property="ownerPolice" jdbcType="VARCHAR" column="owner_police"/>
        <result property="ownerActiveFrom" jdbcType="VARCHAR" column="owner_active_from"/>
        <result property="ownerActiveTo" jdbcType="VARCHAR" column="owner_active_to"/>
    </resultMap>
    <select id="findLingLingUserInfo" resultType="BaseResultMap">
    select o.owner_id, o.parent_id, o.regcode, o.owner_name, o.owner_telephone,
    o.weixin_id, o.reg_time, o.reg_effec_day, o.first_login_time, o.use_effec_day,
    o.status, o.residential_id, o.call_id, o.terminal_type, o.note, o.lingling_id,
    o.visitor_authority, o.owner_gender, o.owner_race,  o.owner_birthday, o.owner_census_addr,
    o.owner_iden_number, o.iden_img_id, o.phone_IMEI, o.longitude, o.latitude, o.owner_police,
	r.residential_id, r.region_id, r.residential_code, r.residential_name, r.manager_name,
	r.telephone, r.address, r.time, r.user_id, r.residential_type, r.start_time, r.end_time,
	r.status, r.note
	from sv_owner o left join sv_residential r on o.residential_id=r.residential_id
	where o.owner_telephone=#{phone}
  </select>

    <select id="findUserDevices" resultType="BaseResultMap">
		select d.device_id, d.name, d.family_id, d.device_type, d.device_code, d.mac, d.default_mac, d.wifi_ssid, d.wifi_password, d.bluetooch_name, d.bluetooch_password, d.lock_type,  d.lock_interval, d.last_synchro_time, d.status, d.region_id, d.custom_type, d.residential_type,
		d.note, d.v3_device_id, d.is_online, d.x_coordinate, d.y_coordinate, d.mark, d.lock_status, d.make_time
		from sv_owner o
		left join sv_owner_device od on o.owner_id=od.owner_id
		left join sv_device d on d.device_id=od.device_id
		where o.owner_id=#{ownerId}
	</select>


</mapper>